/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";


button > * {
  pointer-events: none;
}

@layer components {
    /* .inline-svg {
        @apply h-5 w-5 mr-2
    } */

    .nav-btn {
        @apply
            px-3 py-3
            rounded-md
            flex items-center
            text-gray-200 text-base font-semibold
            hover:bg-primary hover:text-white
    }

    .tooltip .tooltip-text {
        @apply 
            invisible
            p-2 mt-16
            absolute z-50 inline-block
            text-xs rounded-lg bg-gray-700 text-white font-medium
    }

    .tooltip:hover .tooltip-text {
        @apply visible delay-500
    }


    .toc a {
        @apply flex items-center hover:text-gray-900 transition-colors duration-200 mb-2
    }

    .toc nav {
        @apply -ml-4
    }

    .toc ul {
        @apply ml-4
    }

    .prose code::before {
      content: none;
    }

    .prose code::after {
      content: none;
    }

    .prose a {
      @apply text-primary
    }

    .polar-code-in-here {
      @apply bg-primary-800 !important
    }

    .code pre {
      @apply rounded-t-none mt-0
    }
}
:target::before {
  content: "";
  display: block;
  height: 120px; /* fixed header height*/
  margin: -120px 0 0; /* negative fixed header height */
}

/* Making the sidebar sticky. See: https://github.com/tailwindlabs/discuss/issues/193 */
@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }
    .sticky\?lg\:h-\(screen-20\) {
      height: calc(100vh - theme('spacing.20'));
    }
  }
}

.fa-polar {
  content: url("../oso_logo.png");
  filter: opacity(75%);
  height: 1rem;
  vertical-align: middle;
}
