.DS_Store
.idea
*.log
tmp/


.mypy_cache
.vscode
target
languages/python/build
languages/python/polar.egg-info
languages/python/polar/__pycache__
languages/python/tests/__pycache__
languages/python/_polar_lib.abi3.so
venv

polar/polar.h
