# Ignore everything.
**

# Selectively un-ignore files we want included in the released extension.
!CHANGELOG.md
!language-configuration.json
!LICENSE
!oso_logo.png
!out/client.js
!out/polar_language_server_bg.wasm
!out/polar_formatter_bg.wasm
!out/server.js
!package.json
!README.md
!syntaxes/polar.tmLanguage.json
