/* nav.md-tabs {
    background: #343131;
} */

/*** Set our own custom colours ***/

/* Sidebar colour on mobile */
@media only screen and (max-width:76.1875em){
    .md-nav--primary .md-nav__title--site {
        background-color: #0E024E !important; 
    }
}

.md-header {
    background-color: #0E024E;
}

.md-tabs {
    background-color: #0E024E;
}

/*** End of custom colours ***/

.literal-block-wrapper {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 0;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.highlight {
    background: #fcfcfc;
    /* border: 1px solid #ddd; */
    border-radius: 6px;
    margin: 0;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14); */
}

/* .highlight-polar .highlight {
    background: #f7f9ff;
} */

/* Prompts and outputs are not selectable */
.highlight .gp, .go {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.code-block-caption .caption-text {
    color: #888080;
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.ui.segment {
    padding: 2% !important;
    font-size: inherit !important;
}

.ui.menu {
    font-size: 0.8rem;
}

/* Our pretend version of a fontawesome icon for oso */
.fa-oso {
    content: url("oso_logo.png");
    filter: opacity(75%);
    height: 1rem;
    vertical-align: middle;
}

.with-columns footer {
    width: 100% !important;
}

/* Button tweaks */
article .matter-button-contained {
    text-align: center;
    min-width: 96px;
    height: 54px;
    font-size: 16pt;
    margin: 1rem;
}

.md-typeset .admonition.whats-next > .admonition-title::before {
    content: "\f5a0";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.md-typeset h1, .md-typeset h2 {
    font-weight: 400;
}
