/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";


.really-make-it-white {
  color: white !important;
}

button > * {
  pointer-events: none;
}

@layer components {
    /* .inline-svg {
        @apply h-5 w-5 mr-2
    } */

    .nav-btn {
        @apply
            px-3 py-3
            rounded-md
            flex items-center
            text-gray-200 text-base font-semibold
            hover:bg-primary hover:text-white
    }

    .tooltip .tooltip-text {
        @apply
            invisible
            p-2 mt-16
            absolute z-50 inline-block
            text-xs rounded-lg bg-gray-700 text-white font-medium
    }

    .tooltip:hover .tooltip-text {
        @apply visible delay-500
    }

    .toc a {
      @apply hover:text-gray-900 transition-colors duration-200 mb-2;
      display: block;
    }

    .toc nav {
        @apply -ml-4
    }

    .toc ul {
        @apply ml-4
    }

    .prose code::before {
      content: none;
    }

    .prose code::after {
      content: none;
    }

    .prose h5 + * {
      @apply mt-0;
    }

    .prose h5 {
      color: #111827;
      font-style: italic;
      font-weight: 500;
      line-height: 1.25;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }

    .prose a {
      @apply text-primary
    }

    .polar-code-in-here {
      @apply bg-primary-800 !important
    }

    .code > pre {
      @apply rounded-t-md
    }

    .code > .filename + pre,
    .code > .filename + .highlight > pre {
      @apply rounded-t-none mt-0
    }
}

/* Making the sidebar sticky. See: https://github.com/tailwindlabs/discuss/issues/193 */
@supports (position: sticky) {
  @media (min-width: theme('screens.lg')) {
    .sticky\?lg\:h-screen {
      height: 100vh !important;
    }
    .sticky\?lg\:h-\(screen-20\) {
      height: calc(100vh - theme('spacing.20'));
    }
  }
}

.fa-polar {
  content: url("../oso_icon.png");
  filter: opacity(75%);
  height: 1rem;
  vertical-align: middle;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.btn-outline {
    @apply rounded border border-solid border-gray-700 text-gray-700 px-2;
}

.btn-outline:hover {
    @apply border-gray-500 bg-gray-800 bg-opacity-10;
}

#feedback-up, #feedback-down {
  height: 50px;
  width: 50px;
}

#feedback-up:disabled, #feedback-down:disabled {
  pointer: default;
  pointer-events: none;
}

#feedback-up:disabled {
  background-color: rgb(187, 247, 208);
}

#feedback-down:disabled {
  background-color: rgb(254, 202, 202);
}

code {
  @apply bg-gray-200;
  overflow-wrap: normal;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: 2px;
}

pre code {
  display: block;
  background: none;
  white-space: pre-wrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

.no-a {
  color: rgb(55, 65, 81)!important;
  text-decoration: none!important;
}

.integration-request:disabled {
  pointer: default;
  pointer-events: none;
  background-color: rgb(167, 243, 208);
}

/* purgecss ignore */
.highlight-me-pls {
  background-color: #573992;
  display: inline-block;
  width: 100%;
}

/* purgecss ignore */
.tab-group-tabs {
  @apply text-gray-700;
  @apply bg-gray-200;
  @apply text-sm;
  @apply flex;
  @apply rounded-t-md;
}

/* purgecss ignore */
.tab-group-tab {
  padding: 0.6rem 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  box-shadow: none;
}

/* purgecss ignore */
.tab-group-tab.selected {
  font-weight: bold;
  box-shadow: inset 0 -2px 0 #666;
}

/* purgecss ignore */
.tab-group-code pre {
  @apply rounded-t-none;
  margin-top: 0
}
