name: CLA Assistant
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  cla:
    name: CLA Assistant
    runs-on: ubuntu-latest
    steps:
      - name: CLA Assistant
        if: github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA' || github.event_name == 'pull_request_target'
        uses: cla-assistant/github-action@v2.0.2-alpha
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN : ${{ secrets.PERSONAL_ACCESS_TOKEN_GJ_CLA_ASSISTANT }}
        with:
          path-to-document: https://github.com/osohq/cla/blob/main/individual.md
          remote-organization-name: osohq
          remote-repository-name: cla-signatures
          path-to-signatures: individual.json
          branch: main
          allowlist: gj,gkaemmer,gneray,gw000,kreuter,laxjesse,litonico,patrickod,samscott89,saolsen,ssglaser,sverch,vrama628
          use-dco-flag: false
          create-file-commit-message: 'Creating file for storing CLA signatures'
          signed-commit-message: '$contributorName has signed the CLA in osohq/oso#$pullRequestNo'
          custom-notsigned-prcomment: 'Thank you for your submission! Before we can accept your contribution, we ask that you sign our [Contributor License Agreement](https://github.com/osohq/cla/blob/main/individual.md). To sign the CLA, post a comment on this Pull Request that matches the following text ***exactly***:'
