name: Create Release
on:
  push:
#    tags:
#      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  # version:
  #   name: Compute and verify the version number
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set version env
  #       env:
  #         github_ref: ${{ github.ref }}
  #       run: echo "::set-env name=oso_version::${github_ref/refs\/tags\/v/}"
  #     - name: Check versions match
  #       run: grep "__version__ = \"$oso_version\"" oso/__init__.py
  #       working-directory: oso
  # package_linux:
  #   runs-on: ubuntu-latest
  #   #needs: version
  #   steps:
  #     - uses: actions/setup-python@v1
  #       with:
  #         python-version: "3.6"
  #     - uses: actions/checkout@v2
  #     - run: make python-build
  #     - run: make package
  #       working-directory: languages/python
  #     - uses: actions/upload-artifact@v1
  #       with:
  #         name: wheel
  #         path: languages/python/dist
  package_osx:
    runs-on: macos-10.15
    #runs-on: self-hosted
    #needs: version
    steps:
      # - uses: actions/setup-python@v1
      #   with:
      #     python-version: "3.6"
      - uses: actions/checkout@v2
      - run: scripts/osx_package.sh
      - uses: actions/upload-artifact@v1
        with:
          name: wheel
          path: languages/python/dist
  # docs:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/setup-python@v1
  #       with:
  #         python-version: "3.6"
  #     - uses: actions/checkout@v2
  #     - run: pip3 install -r requirements-dev.txt -i https://pypi.python.org/simple/
  #       working-directory: polar
  #     - run: pip3 install -e .
  #       working-directory: polar
  #     - run: pip3 install -e .
  #       working-directory: oso
  #     - run: make html
  #       working-directory: docs
  #     - uses: actions/upload-artifact@v1
  #       with:
  #         name: docs
  #         path: docs/_build/html/
  release:
    name: Create release
    runs-on: ubuntu-latest
    needs: [package_osx]
    steps:
      - name: Set version output
        id: version
        env:
          github_ref: ${{ github.ref }}
        run: echo "::set-output name=oso_version::${github_ref/refs\/tags\/v/}"
      - name: Download oso wheel from package run
        uses: actions/download-artifact@v1
        with:
          name: wheel
      # - name: Download docs
      #   uses: actions/download-artifact@v1
      #   with:
      #     name: docs
      # - name: Zip docs
      #   run: zip -r oso-docs.zip docs/
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ steps.version.outputs.oso_version }}
          release_name: Release ${{ steps.version.outputs.oso_version }}
          body: |
            Automatically generated release from github actions
          draft: false
          prerelease: false
      # - name: Upload Linux
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
      #     asset_path: wheel/oso-${{ steps.version.outputs.oso_version }}-py3-none-any.whl
      #     asset_name: oso-${{ steps.version.outputs.oso_version }}-py3-none-any.whl
      #     asset_content_type: application/zip
      # - name: Upload Release Package
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
      #     asset_path: wheel/oso-${{ steps.version.outputs.oso_version }}-py3-none-any.whl
      #     asset_name: oso-${{ steps.version.outputs.oso_version }}-py3-none-any.whl
      #     asset_content_type: application/zip
      # - name: Upload Release Docs
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
      #     asset_path: ./oso-docs.zip
      #     asset_name: oso-docs.zip
      #     asset_content_type: application/zip
