name: Development
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-check-${{ hashFiles('**/Cargo.lock') }}

      ## Check Rust
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Check Rust formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Check clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --all-targets -- -D warnings

      ## Check Python
      - name: Install Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: "3.6"
      - name: Install Python formatter
        run: pip install black
      - name: Check Python formatting
        run: black --check languages/python
      - name: Lint Python code
        working-directory: "languages/python"
        run: make lint

      ## Check Ruby
      - name: Install Ruby + gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 2.4
          working-directory: "languages/ruby"
      - name: Lint Ruby code
        working-directory: "languages/ruby"
        run: make lint
      - name: Check Ruby types
        working-directory: "languages/ruby"
        run: make typecheck | grep '0 problems found in 0 of'

      ## Check Node.js
      - name: Use Node.js 10.14.2
        uses: actions/setup-node@v1
        with:
          node-version: 10.14.2
      - name: Check formatting of JS library
        working-directory: "languages/js"
        run: make fmtcheck
      - name: Add WebAssembly target
        run: rustup target add wasm32-unknown-unknown
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Typecheck JS library
        working-directory: "languages/js"
        run: make typecheck

      ## Check Java
      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: "11"
      - name: Check formatting of Java library
        uses: axel-op/googlejavaformat-action@v3
        with:
          skipCommit: true
          args: "--dry-run --set-exit-if-changed"

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-test-${{ hashFiles('**/Cargo.lock') }}

      ## Install everything
      - name: Install Rust stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Install Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: "3.6"
      - name: Install Ruby + gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 2.4
          working-directory: "languages/ruby"
      - name: Use Node.js 10.14.2
        uses: actions/setup-node@v1
        with:
          node-version: 10.14.2
      - name: Add WebAssembly target
        run: rustup target add wasm32-unknown-unknown
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: Install Java
        uses: actions/setup-java@v1
        with:
          java-version: "11"

      ## Run tests
      - name: Test everything
        run: make test
        env:
          MVN_FLAGS: "-q"


      ## Test + check docs
      ## (easier to do here once all above deps are installed)
      - name: Install yard (for doc build)
        run: gem install yard
      - name: Install spelling check
        run: sudo apt-get install -y libenchant-dev
      - name: Spelling
        run: SPHINXOPTS="-W" make -C docs spelling
      - name: Doc test
        run: make -C docs test
      - name: Docs build
        run: SPHINXOPTS="-W" make -C docs build

      ## Publish docs
      ## Also easier to do here with above deps installed
      - name: s3 preview publish
        if: ${{ github.event_name == 'push' && github.repository == 'osohq/oso' && github.ref == 'refs/heads/main' }}
        run: aws s3 sync --delete docs/_build/html s3://docs-preview.oso.dev
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_AWS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_AWS_SECRET }}
      - name: cloudfront invalidate docs preview
        if: ${{ github.event_name == 'push' && github.repository == 'osohq/oso' && github.ref == 'refs/heads/main' }}
        run: aws cloudfront create-invalidation --distribution-id E2KU2V8C9KJNU7 --paths "/*"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_AWS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_AWS_SECRET }}

